
/* Camada */
#simplemodal-overlay 
{
	background-color:#FFF; 
	cursor:wait;
}

/* Conteúdo */
#simplemodal-container 
{
	width:600px; 
	background-color:#fff; 
	border:3px solid #ccc;
}

#simplemodal-container a.modalCloseImg 
{
	background:url(img/basic/x.png) no-repeat; 
	width:25px; 
	height:29px; 
	display:inline; 
	z-index:3200; 
	position:absolute; 
	top:-15px; 
	right:-18px; 
	cursor:pointer;
}

#simplemodal-container #basicModalContent 
{
	padding:8px;
}